// =================================
//   GAME
// =================================

// Imports
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.game {
  background-color: $bg-page;
  padding: 2rem 3rem;
  border: 1px solid rgba($bg-brand, 0.5);
  border-radius: 1rem;
  min-height: 300px;
  width: 100%;
  max-width: 680px;
  box-shadow: 0 8px 16px rgba($bg-brand, 0.5);

  @include media-breakpoint-down($bp-md) {
    border-radius: 0;
  }

  &__title {
    @include title($color: $text-accent);
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 1px;
  }

  &__feedback {
    background-color: $bg-surface;
    border-left: 2px solid $bg-brand;
    border-top-right-radius: $rounded-md;
    border-bottom-right-radius: $rounded-md;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    
    @include custom-text($font-text, 500, 1rem, $text-primary);
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
  }

  &__info {
    background-color: $bg-surface;
    border-left: 2px solid $bg-brand;
    border-top-right-radius: $rounded-lg;
    border-bottom-right-radius: $rounded-lg;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
  }

  &__info-item {
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__info-label {
    font-weight: 600;
    color: $text-accent;
    margin-right: 1rem;
  }
}
