// =================================
//   SHADOWS (MDB 5)
// =================================

// For light design
.shadow-0 {
  box-shadow: none;
}

.shadow-1 {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
}

.shadow-2 {
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
}

.shadow-3 {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-4 {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}

.shadow-5 {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.25);
}

// For dark design
.shadow-1-strong {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
}

.shadow-2-strong {
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.3);
}

.shadow-3-strong {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}

.shadow-4-strong {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.shadow-5-strong {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.6);
}

// Inset box shadow
.shadow-inset {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
